@import "tailwindcss";

:root {
  --background: #fbfaf8;
  --foreground: #262626;
}

@layer base {
  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  html {
    scroll-behavior: smooth;
  }

  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

@theme inline {
  --color-brand-background: #fbfaf8;
  --color-brand-black: #262626;
  --color-brand-gray: #595451;
  --color-brand-green: #16a34a;
  --color-brand-green-light: #16a34a15;
}

@layer components {
  .card-shadow {
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.07);
  }

  .input-base {
    @apply flex h-10.5 w-full items-center rounded-md border border-neutral-300 bg-white px-3 text-sm transition-all outline-none;
    @apply focus:border-brand-green focus:ring-brand-green/20 focus:ring-1;
    @apply disabled:bg-neutral-50 disabled:text-neutral-400;
  }
}

.loader {
  width: 58px;
  height: 58px;
  border: 7px solid #262626;
  border-bottom-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes toast {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px); /* Centers horizontally, starts lower */
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0); /* Centers horizontally, sits at top-6 */
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0); /* Stays centered and visible */
  }
  100% {
    opacity: 0;
    transform: translate(
      -50%,
      10px
    ); /* Centers horizontally, fades out downward */
  }
}

.animate-toast {
  animation: toast 2.5s ease forwards;
}
